{header}
<br><br><br><br><br>
<div class="container">

    <div class="row">
        <div class="col-md-8 col-12">
            {for post in posts}
            <div class="blogPost">
                {if post.hasPicture}
                <img src="/blogContent/headerImages/{post.picture_url}" style="width:100%;">
                {/if}

                <div class="p-4">
                    <h3><b>{post.name}</b></h3>
                    <h5>
                        <span class="w3-opacity">{post.published}</span>
                    </h5>

                    {post.blogBody}

                    {if preview}
                    <p class="text-center">
                        <a class="btn btn-secondary btn-lg text-white"
                            href="https://jrtechs.net/{post.categoryURL}/{post.url}"><b>Read More &raquo;</b></a>
                    </p>
                    {/if}

                </div>

            </div>
            <br>
            <br>
            {else}
            <div class="row p-lg-0">
                <h1 class="align-content-center">Page Not Found</h1>
                <div class="align-content-center">
                    <img src="/includes/img/404.jpg" alt="Page not found" width="70%" />
                </div>
            </div>
            <br><br>
            {/for}

            {>paginationTemplate}
            <br>
        </div>
        <div class="col-md-4 col-12">
            {>sideBar}
        </div>
    </div>

</div>

{footer}