{header}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lg-transitions.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css" />

<div class="container">
<br><br><br><br>

    <div class="p-2">
        {mainPost}
    </div>

    {if directory}
        <div class="row p-2 align-content-center">
            {for dir in folders}
                <div class="col-lg-4 col-md-6 col-xs-12 thumb p-12 text-center"'>
                    <div class="span4"></div>
                    <div class="span4">
                        <a href="{dir.url}">
                            <img class="img-thumbnail img-responsive center-block"  width="100%" src="{dir.img}" />
                        </a>
                    </div>
                    <div class="span4"></div>
                </div>
            {/for}
        </div>

    {else}

        <div id="lightgallery" class="row p-2 align-content-center">

            {for img in images}
                <div class="col-lg-4 col-md-6 col-xs-12 thumb p-12 text-center" data-src='{img.full}'>
                    <div class="span4"></div>
                    <div class="span4">
                        <a href="{img.full}">
                            <img class="img-thumbnail img-responsive center-block"  width="100%" src="{img.full}" />
                        </a>
                    </div>
                    <div class="span4"></div>
                </div>
            {/for}


  
        </div>
    {/if}


    {if error}
    <div class="row p-lg-0">
        <h1 class="align-content-center">Page Not Found</h1>
        <div class="align-content-center center-block">
            <img src="/includes/img/404.jpg" alt="Page not found" width="70%" />
        </div>
    </div>
    <br><br>
    {/if}



</div>
<!--
                  _.-,
              .--'  '-._
           _/`-  _      '.
          '----'._`.----. \
                   `     \;
                  jgs    ;_\
-->

<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery();
    });
</script>

<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="/includes/js/lg/lightgallery-all.min.js"></script>
<script src="/includes/js/lg/jquery.mousewheel.min.js"></script>

{footer}